{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/forecaststyle.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">

</head>
<body>

    <div class="star">
      <img src="/static/weather/assets/icons8-ios-glyph-60.png" style="width:100px; padding-top:60px;">
    </div>
	<div class="container">
    <div class="row" style="padding-top:140px">
      <div class="col-sm-1" style="padding-top:30px">
        <img src="/static/weather/assets/icons8-marker-100.png" width=180px >
      </div>
      <div class="col-sm-10" style="padding-left:140px">
        <h4>
          Berkeley
        </h4>
        <h5>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CA, 94720
        </h5>       
      </div>

    </div>

    <div class="container" style="padding-top:80px">
      <div class="text-center">
        <img class="img-fluid" src="/static/weather/assets/icons8-error-filled-96.png" width=300px style="padding-left:40px">
      </div>
    </div>
    
    <div class="container">
    <div class="row" style="padding-top:100px"> 
      <div class="col-sm-1" style="padding-top:0px">
        <img src="/static/weather/assets/icons8-cloudshot-512.png" width=200px style="padding-top:30px">
      </div>
      <div class="col-sm-11 text-center" style="padding-left:120px">
        <h4>
          60 &#xb0;F
        </h4>
        <h5>
        Lightening
        </h5>       
      </div>
    </div>
    
    
    <div class="container-fluid">
      <div class="image-fluid">
        
 
    <div class="imagecontainer" style="padding-top:40px;">
      <div class="text-center">
        

      <img src="/static/weather/assets/output-onlinepngtools.png" style="height:650px">
      <div class="centertext">
        <h6>
          Humidity: 70%
        </h6>
        <h6>
          UV: &nbsp;&nbsp;  low
        </h6>
      </div>
      </div>
      
    </div>
  </div>
  </div>
      
  <div class="container">
    <div class="row" style="padding-top:100px">
      <div class="col-sm-3">
        <img class="img-fluid" src="/static/weather/assets/icons8-home-96.png" style="width:150px">
      </div>
      <div class="col-sm-3">
        <img class="img-fluid" src="/static/weather/assets/icons8-search-96.png" style="width:150px">
      </div>
      <div class="col-sm-3">
        <img class="img-fluid" src="/static/weather/assets/icons8-venn-diagram-96.png" style="width:150px">
        </div>
      <div class="col-sm-3">
        <img class="img-fluid" src="/static/weather/assets/icons8-gear-96.png" style="width:150px">
      </div>
     </div>
  </div>
</body>
</html>





